#header {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    background-color: transparent;
    height: 120px;
}

.no-main-image {
  display: none;
}

.content-inner {
  margin-top: -120px;
  background: transparent;
}

.content-inner .header {
  margin-top: 20vh !important;
  text-align: center;
}

.content-inner .header h1 {
  color: white;
  text-align: center;
  font-size: 35px;
  max-width: 500px;
  margin: 0 auto;
  line-height: 42px;
}

.content-inner .header p {
  color: white;
  text-align: center;
  font-size: 22px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 28px;
  margin-top: 25px;
    
}

.content-inner .bullets {
  color: white !important;
}

.content-inner:before {
  width: 100%;
  height: 100%;
  position: absolute;
  /* background: red; */
  content: '';
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, #05abe0 0%,#0050ff 0%,#27d9a5 100%);
}

.actions {
  margin-top: 20vh;
  text-align: center;
}

.actions img {
  height: 40px;
  vertical-align: middle;
}

.actions span {
  color: white;
  text-transform: uppercase;
}
