.content-inner {
  background: transparent;
}
.content-inner .bullets {
  color: white !important;
}

.content-inner:before {
  width: 100%;
  height: 100%;
  position: absolute;
  /* background: red; */
  content: '';
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, #05abe0 0%,#0050ff 0%,#27d9a5 100%);
}
