* {
    font-family: 'Work Sans', sans-serif !important;
}

.site-title img {
    max-with: 250px !important;
}

#header {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    background-color: transparent;
    height: 120px;
}

.no-main-image {
  display: none;
}

.no-border {
  border: none !important;
}

.content-inner {
  margin-top: -120px;
  background: transparent;
  padding: 0;
}

.content-inner .header {
    min-height: 45vh;
    margin-top: 30vh !important;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}

.content-inner .header:after {
    content: '';
    background: url(https://raw.githubusercontent.com/reimertz/static-content/master/path.png);
    width: 200%;
    position: absolute;
    height: 200px;
    background-size: contain;
    bottom: -200px;
    left: 0;
    margin-left: -50%;
    background-repeat-y: no-repeat;
}

.content-inner .header h1,
.content-inner .header p {
  color: #27d9a5;
  text-align: center;
  margin: 0 auto;
    
}

.content-inner .header h1 {
  font-size: 35px;
  max-width: 500px;
  line-height: 42px;
  font-weight: 300;
}

.content-inner .header p {
  font-size: 22px;
  max-width: 600px;
  line-height: 28px;
  margin-top: 25px;
}

.content-inner .bullets {
  color: white !important;
  text-align: center;
  margin-top: 200px;
}.ready .actions img:nth-child(3)

.content-inner .bullets .actions {
    border-top-color: white;
}

.content-inner:before {
  width: 100%;
  height: 100%;
  position: absolute;
  /* background: red; */
  content: '';
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, #05abe0 0%,#0050ff 0%,#27d9a5 50%);
}

.actions {
  margin-top: 20px;
  text-align: center;
  /* font-weight: 500; */
  display: inline-block;
  border-top: 1px solid #27d9a5;
  padding: 20px;
}

.actions .button:hover {
  opacity: 1; 
}

.actions .button {
    opacity: 0.75;
    transition: opacity 200ms;
    margin-right: 20px;
    display: inline-block;
    text-decoration: none !important;
}

.actions img {
  margin-right: 10px;
  height: 30px;
  vertical-align: top;
}

.actions span {
  font-weight: 300;
  color: white;
  text-transform: uppercase;
}

[class*="star-"] {
  position: absolute;
  max-width: 14% !important;
}

.star-1 {
  top:-100px;
  left:-100px;
}

.star-2 {
  top: 150px;
  left: 0;
  max-width: 10% !important;
}

.star-3 {
  top: -120px;
  right: -20px;
}

.star-4 {
  top: 150px;
  right: -60px;
  max-width: 8% !important;
}

.quote {
  color: white;
  font-size: 18px;
  font-weight: 300;
  padding-left: 20px;
  margin-top: 300px;
  position: relative;
  padding: 30px;
  background: #27d9a5;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}

.quote p {
    border-left: 1px solid white;
    padding-left: 20px;
    z-index: 1;
    position: relative;
}

.quote:before {
    position: absolute;
    width: 200%;
    left: -50%;
    height: 300px;
    background: url(https://raw.githubusercontent.com/reimertz/static-content/master/graphie.png);
    content: '';
    background-size: contain;
    z-index: 0;
    top: -300px;
}

.quote:after {
    position: absolute;
    width: 200%;
    left: -50%;
    height: 100%;
    background: #27d9a5;
    content: '';
    z-index: 0;
    top: 0;
}

.blog {
    margin-top: 50px;
    padding: 35px 0;
    text-align: center;
    color: white;
    background: #2b3c6a;
    position: relative;
}

.blog p {
  font-weight: 300;
  color: #27d9a5;
  z-index: 1;
  position: relative;
  text-transform: uppercase;
}

.blog .actions {
  margin: 0 !important;
  padding: 0;
}


.blog:before,
.blog:after {
    content: '';
    width: 100%;
    background: #2b3c6a;
    height: 100%;
    top: 0;
    position: absolute;
}
.blog:before {
    left: -100%;    
}
.blog:after {
    right: -100%;    
}

.perks {
    background: white;
    font-weight: 200;
    color: #0050ff;
    position: relative;
    padding: 50px 0;
}

.perks:before,
.perks:after {
  content: '';
  width: 100%;
  background: white;
  height: 100%;
  top: 0;
  position: absolute;
}
.perks:before {
  left: -100%;    
}
.perks:after {
  right: -100%;    
}

.perks .sqs-col {
    margin-top: 30px !important;
    position: relative;
}

.perks [class*="box-"] {
    text-align: left;
}

.perks [class*="box-"] .title,
.perks [class*="box-"] .sub-title {
    text-align: left;
}

.perks [class*="box-"] .title {

}

.perks [class*="box-"] .-sub-title {

}

.perks [class*="box-"]:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100px;
    background: #27d9a5;
    top: 0;
    margin-top: 105px;
}

.perks .box-1:before,
.perks .box-3:before {
    left: -150px;
}

.perks .box-2:before {
    right: -150px;
}

.perks [class*="box-"]:after {
    content: '';
    border: 1px solid #27d9a5;
    position: absolute;
    z-index: 10;
    opacity: 0.2;
}

.perks .box-1:after {
    width: 94%;
    height: 87%;
    top: 10%;
    left: 10%;
    border-right: none;
}

.perks .box-2:after {
    width: 94%;
    height: 87%;
    top: 10%;
    left: 10%;
    border-left: none;
}
.perks .box-3:after {
    width: 94%;
    height: 87%;
    top: 10%;
    left: 10%;
    border-right: none;
}

.ready {
    margin: 60px auto;
    text-align: center;
    color: white;
    padding-bottom: 30px;
    position: relative;
}

.ready .title {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

.ready .sub-title {
    max-width: 355px;
    margin: 10px auto;
}

.ready .actions {
    border-top-color: white;
    margin-top: 15px;
    padding-top: 30px;
}

.ready .actions {
    border-top-color: white;
    margin-top: 15px;
    padding-top: 30px;
}

.ready:after {
    position: absolute;
    width: 200%;
    left: -50%;
    height: 100%;
    background: linear-gradient(135deg, #27d9a5 0%,#3fd9a5 100%);
    content: '';
    z-index: 0;
    top: 0;
}

